name: Python CI and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Download 5k
      run: curl -L -o 5k.txt '${{ secrets.URL_5K }}'
    - name: Download 20k
      run: curl -L -o 20k.txt '${{ secrets.URL_20K }}'
    - name: Download 50k
      run: curl -L -o 50k.txt '${{ secrets.URL_50K }}'
    - name: Run Python script
      run: python build.py
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.run_id }} 
        name: Release ${{ github.run_id }}
        body: auto release
        files: ./ip-threat.db
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
